#featured {
  img {
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
  }

  .card {
    overflow: hidden;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      inset: 0;
      background: linear-gradient(180deg, rgba(15, 23, 42, 0) 0%, #0F172A 100%);
    }
  }
}